<label class="form-label">
    {{ label }}
    <input
        class="form-control{{ this.hasErrors ? ' is-invalid' }}"
        type="{{ type }}"
        value="{{ value }}"
    />
    {% if this.hasErrors %}
        <div class="invalid-feedback">
            {% for error in errors %}
                {{ error }}
            {% endfor %}
        </div>
    {% endif %}
</label>
