<div {{ init_live_component(this) }}>
    <div class="mb-3">
        <label class="form-label" for="markdown-input">{{ this.label }}</label>

        <textarea
            name="{{ this.name }}"
            data-model="value"
            data-action="live#update"
            rows="{{ this.rows }}"
            class="form-control{{ this.getError('value') ? ' is-invalid' : '' }}"
            id="markdown-input"
        >{{- this.value -}}</textarea>

        {% if this.getError('value') %}
            <div class="invalid-feedback">
                {{ this.getError('value').message }}
            </div>
        {% endif %}

        <div class="form-text">
            Updates on "input" (each key stroke).
            <br>
            <strong>Type more to expand the box</strong>
        </div>
    </div>

    <div class="d-flex">
        <h5>Preview</h5>
        <span data-loading="hide" class="text-success px-2">
            loaded!
        </span>

        <span data-loading class="text-warning px-2">
            reloading...
            <span data-loading="delay|show">(still working)</span>
        </span>
    </div>
    <div
        class="markdown-preview"
        data-loading="addClass(low-opacity bg-maroon)"
    >
        {{ this.value|markdown_to_html }}
    </div>

</div>

