<div{{ attributes }}
    data-action="change->live#update"
>
    {{ form_start(this.form, {
        action: path('app_register'),
    }) }}
        {{ form_row(this.form.email) }}
        {{ form_row(this.form.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(this.form.agreeTerms) }}
        {{ form_row(this.form.newsletter) }}

        <button type="submit" class="btn btn-primary" formnovalidate>Register</button>
    {{ form_end(this.form) }}
</div>
